@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf) format("opentype"),
         url(fontes/idroid.ttf) format("truetype"),
         url(fontes/idroid.woff) format("woff"),
         url(fontes/idroid.woff2) format("woff2"),
         url(fontes/idroid.svg#idroid) format("svg");
}
/* CSS Document */
body {
    background-color: #3bd192;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
main {
    
   color: rgb(0, 0, 0);
    background-color:white;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    
    
}
header {
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to bottom, #3bd192, #49af6d, green);
    text-align: center;
    margin: auto;
    padding: 20px;
}
h2 {
    border: 4px solid rgb(39, 204, 80);
    font-family: idroid;
    font-size: 15px;
    color: rgb(39, 204, 80);
    padding: 10px;
}

ol {
    height: 140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h1 {
    font-family: idroid;
    color: rgb(14, 205, 122);
    padding: 10px;
}
h1#principal {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}
footer {
    background-image: linear-gradient(to bottom, #3bd192, #49af6d, green);
    font-family: 'Times New Roman', Times, serif;
    border: 4px solid rgb(2, 3, 2);
    text-align: center;
    margin: 10px;
    height: auto;
    width: 100%;
    padding: 20px;
}